In [4]:
import pandas as pd
import numpy as np

# Seed for reproducibility
np.random.seed(42)

# Genereate sample data
data = {
    'Age' : np.random.normal(30,10,100).astype(int),
    'Annual Income (K$)' : np.random.normal(50,20,100).astype(int),
    'Spending Score (1-100)' : np.random.randint(1,100,100),
    'Years with Company' : np.random.normal(5,2,100).astype(int)
}

# Create DataFrame
df = pd.DataFrame(data)

In [3]:

pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

In [5]:
from tabulate import tabulate

correlation_matrix = df.corr()

# Print the correlation matrix as table
print(tabulate(correlation_matrix, headers = 'keys', tablefmt='grid', numalign="right", floatfmt=".2f"))

+------------------------+-------+----------------------+--------------------------+----------------------+
|                        |   Age |   Annual Income (K$) |   Spending Score (1-100) |   Years with Company |
+========================+=======+======================+==========================+======================+
| Age                    |  1.00 |                -0.13 |                     0.02 |                 0.01 |
+------------------------+-------+----------------------+--------------------------+----------------------+
| Annual Income (K$)     | -0.13 |                 1.00 |                     0.02 |                -0.13 |
+------------------------+-------+----------------------+--------------------------+----------------------+
| Spending Score (1-100) |  0.02 |                 0.02 |                     1.00 |                -0.13 |
+------------------------+-------+----------------------+--------------------------+----------------------+
| Years with Company     |  0.01 |                -0.13 |                    -0.13 |                 1.00 |
+------------------------+-------+----------------------+--------------------------+----------------------+